# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\web\www\github-gogebi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
